.mainCont{
    margin:40px;
}
.friendsList{
    align-items: center;
    margin-left: 30px;

}
.cardsList{
    align-items: center;
    padding: 30px 50px;
}
.cardSection{
    padding: 20px;
    border-radius: 20px;
    width: 75vw;
    margin: 20px 0px;
    overflow-x: scroll;
}
.nextBtn{
    height: 50px;
    width: 50px;
    margin-left: -25px;
    cursor: pointer;
    z-index: 2;
}
.card{
    padding: 15px;
    border-radius: 10px;
    align-items: center;
    margin-right: 25px;
}
.card-img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.routineName{
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0px;
}
.activeBtn{
    font-size: 13px;
    font-weight: 500;
    font-family: 'Muli', sans-serif;
    text-align: center;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    cursor: pointer;
  }

  .cardBody{
      padding: 15px;
      align-items: center;
      border-radius: 20px;
  }



  .profile img{
      height: 150px;
      width: 150px;
      border-radius: 50%;
  }
  .cardImg{
    border-radius: 10px;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }
  .desc{
    font-size: 13px;
    font-weight: 400;
    margin-top: 10px;
  }
  .card-text{
      margin-left: 20px;
  }


.routineDetails{
    margin-left: 20px;
}

  .routineList{
    align-items: center;
}
.cardSection{
    padding: 20px;
    border-radius: 20px;
    width: 97%;
    margin: 20px 0px;
}
.nextBtn{
    height: 50px;
    width: 50px;
    margin-left: -25px;
    cursor: pointer;
}
.cardCont{
    padding: 15px;
    border-radius: 10px;
    margin-right: 15px;
}

.card{
    padding: 15px;
    border-radius: 10px;
    margin-right: 10px;
    width: 400px;
}
.routineName{
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0px;
}

  .card-desc{
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
  }
  .subscribers{
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
  }


