.navbar{
    width: 100%;
    height: 10vh;
    box-shadow: 0px 0px 8px 2px rgb(211, 211, 211);
    align-items: center;
    padding-left:30px ;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
     /* position: fixed;
     top: auto;
     left: auto; */

}

.logoSize{
    height: 38px;
    width: 38px;
    margin-right: 10px;
}
.brandname_FirstLetter{
    font-size: 28px;
    font-weight: 500;
}
.brandname_LastLetter{
    font-size: 18px;
    font-weight: 500;
}
.iconSize{
    height: 35px;
    width: 35px;
    cursor: pointer;
    margin-left: auto;
}
.profileBtn{

    padding: 8px;
    border: 1px solid lightgray;
    border-radius: 7px;
    margin-left: 20px;
    align-items: center;
    cursor: pointer;

}
.profile{
    height: 40px;
    width: 40px;
    margin-left: 0px;
    border-radius: 50%;

}
.username{
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 20px;
    font-family: 'Muli', sans-serif;
}
.dropdown{
    float: right;
}
.searchbar{
    margin-left: 30px;
    border-radius: 15px;

}
.searchType{
    align-items: center;
    padding: 15px 25px;
    border-radius: 15px;
    width: auto;
}
input{
    border: none;
    font-family: 'Muli', sans-serif;


}
.icon{
    height: 15px;
    width: 15px;
    margin-right: 10px;
}


.searchBtn{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Muli', sans-serif;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    margin-left: 20px;
    align-items: center;
    cursor: pointer;
}
