<div class="vertical">
    <div class="heading section friendsList">Routines </div>

    <div class="carousel-container">
        <owl-carousel-o [options]="customOptions" class="horizontal cardSection secondaryLightBg " >
            <ng-template carouselSlide *ngFor="let routine of allRoutines;let i as index | filter:this.searchService.routineFilter" class="carousel-cell " >
                <div class="card vertical primaryLightBg ">

                    <div><img class="card-img" (click)=onSelect(routine.routineid) src="../../assets/img.jfif"></div>
                    <div class="routineName" (click)=onSelect(routine.routineid)>{{routine.title}}</div>

                    <div class="card-desc inActive">{{routine.description}}</div>
                    <div class="btns">
                        <button (click)=onSelect(routine.routineid)
                            class="activeBtn  ">More Details</button>
                        <button (click)=subscribeRoutine(routine.routineid)
                            class="activeBtn primaryDarkBg primaryLight ">subscribe</button>

                    </div>
                </div>
            </ng-template>

          </owl-carousel-o>
        </div>


    </div>
