<app-navbar></app-navbar>

<div class=" horizontal" *ngIf="isDataLoaded">

    <div class="mainCont secondaryLightBg">

        <!-- ROUTINE DETAILS  -->

        <div class="horizontal">
            <div><img class="image" src="../../assets/img.jfif"></div>
            <div class="vertical routineDetails" style="justify-content: space-between;">
                <div>
                <div class="horizontal row " >
                    <div>
                        <div class="heading">{{routineDetailsList.title}}</div>
                    </div>
                    <div style="display: flex;flex-direction: row;">
                        <button class="activeBtn primaryDarkBg primaryLight"
                            *ngIf="routineDetailsList['creatorid']==userId"
                            (click)="editRoutine(routineDetailsList['routineid'])">Edit</button>
                        <button class="activeBtn1 primaryDarkBg primaryLight"
                            *ngIf="routineDetailsList['creatorid']==userId"
                            (click)="deleteRoutine(routineDetailsList['routineid'])">delete</button>
                    </div>
                </div>
                <div class="desc inActive">{{routineDetailsList.description}}</div>
            </div>


                <div *ngIf="!(routineDetailsList['creatorid']==userId)">
                    <button class="activeBtn " style="background-color: lightgray;" *ngIf="!checkeligibility()"
                        (click)="unsubscribeRoutine(routineDetailsList.routineid)">unsubscribe</button>
                    <button class="activeBtn primaryLight primaryDarkBg"  *ngIf="checkeligibility()"
                        (click)="subscribeRoutine(routineDetailsList.routineid)">subscribe</button>
                </div>
            </div>
        </div>

        <!-- ROUTINE STRUCTURE  -->

        <div class="horizontal scroll">
            <div *ngFor="let chip of routineDetailsList.subtasks">


                <div class="chip primaryLightBg">
                    <div class="structureName">{{chip.title}}</div>
                    <div class="subscribers inActive">{{chip.duration}} min</div>
                </div>
            </div>
        </div>

        <!-- YOUTUBE VIDEOS -->


        <div class="heading section">Youtube Videos</div>

        <div class="carousel-container">
            <owl-carousel-o [options]="customOptions" class="horizontal routineList secondaryLightBg " >
                <ng-template carouselSlide *ngFor="let link of routineDetailsList.references ; let i=index" class="carousel-cell " >
                    <div class="card vertical primaryLightBg">

                         <a
                        class="heading section links">
                           <div (click)="openDialog(link.link)" class="card-img"><img src={{link.src}}></div>
                           <div style="margin-top: 15px;" (click)="openDialog(link.link)" class="videoName">{{link.title}}</div>
                       </a>
                    </div>
                </ng-template>

              </owl-carousel-o>
            </div>

        <!-- COMMENT SECTION -->

        <div style="margin: 30px 0px 20px 0px;" class="heading"> Comments</div>
        <div style="display: flex;align-items: center;">
            <div> <textarea style= "width:800px; height:50px;border-radius: 5px ;padding: 10px;" type ="text" id="comment" [(ngModel)]="currComment"></textarea></div>
            <div style="margin-left: 20px;"><button  class="activeBtn primaryLight primaryDarkBg" (click) = "createComment()">post</button></div>
        </div>

        <div style="margin: 20px 0px;">
            <div class="commentsCount"> {{allComments.length}} Comments</div>

            <div *ngFor="let comment of allComments;let i=index">
                <div class="primaryLightBg commentDisplay" >
                    <div class="comments">{{comment.description}}</div>
                    <div>
                        <img src="../../assets/remove_icon.png" alt="remove icon" *ngIf="userId == comment.userid" (click)="deleteComment(comment.commentid,i)" class="editIcon">
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="sideCont">
        <app-sidebar></app-sidebar>
    </div>



</div>
